<!DOCTYPE html>
<html>
<head>
    <title>OptiCrop</title>
</head>
<body>

<h1>🌾 OptiCrop</h1>
<h2>Smart Agricultural Production Optimization Engine</h2>

<form>

<label>Nitrogen (N)</label><br>
<input type="number" name="nitrogen"><br><br>

<label>Phosphorus (P)</label><br>
<input type="number" name="phosphorus"><br><br>

<label>Potassium (K)</label><br>
<input type="number" name="potassium"><br><br>

<label>Temperature</label><br>
<input type="number" name="temperature"><br><br>

<label>Humidity</label><br>
<input type="number" name="humidity"><br><br>

<label>pH</label><br>
<input type="number" name="ph"><br><br>

<label>Rainfall</label><br>
<input type="number" name="rainfall"><br><br>

<button type="submit">Predict Crop</button>

</form>

</body>
</html>
